body{
  text-align: center;
}

h1{
  font-family: Helvetica;
  font-size: 70px;
  font-weight: bold;
  color: white;
}

#header{
  background-image:url(https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png);
}

nav{
  font-family: Helvetica;
  font-size: 18px;
  color:white;
}

h2{
  font-family: Helvetica;
  font-size:32px;
  font-eight:bold;
}

h3{
  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;

}

p{
  font-family:Helvetica;
  font-size:14px;
}

h4{
  font-family: Helvetica;
  font-size: 23px;
  color:white;
  font-weight:bold;
  background-image:url(https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png);
}
